
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> 测试分组数据标签 </title>
</head>
<style>
.group {
	font-size: 12px;		
}
.group .left{
	width: 49%;
	margin-top: 10px;
	border: 1px solid #336633;
	float:left;
}
.group .right{
	width: 49%;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #336633;
	float:left;
}
.group .left h2{
	margin: 0px;
	height: 20px;
	font-weight: bold;
}
	
</style>
</head>
<body>
<h1>采用 groupsize 特性输出一行多列的数据</h1>
<!--vt[groupsize="2" 的作用是将 datalist 集合的数据,按一行2列进行拆分分组]-->
<vt:foreach from="$datalist" item="#.data" index="#.i" groupsize="2">
<div class="group">
   <vt:foreach from="$#.data" item="#.item" index="#.j">
   <vt:if var="#.j.iseven" value="false">   
   <div class="left">
       <h2>{$:#.item.title}</h2>
       <!--vt[通过调用GetItemData方法, 获取当前行的数据列表]-->
       <vt:function var="itemdata" method="GetItemData" type="$this" args="$#.item" />
       <ul>
            <vt:foreach from="$#.itemdata" item="#.row">
            <li>{$:#.row}</li>
			</vt:foreach>
       </ul>
   </div>
   <vt:else />
   <div class="right">
       <h2>{$:#.item.title}</h2>
       <!--vt[通过调用GetItemData方法, 获取当前行的数据列表]-->
       <vt:function var="itemdata" method="GetItemData" type="$this" args="$#.item" />
       <ul>
            <vt:foreach from="$#.itemdata" item="#.row">
            <li>{$:#.row}</li>
			</vt:foreach>
       </ul>
   </div>
   </vt:if>
   </vt:foreach>
</div>
<vt:foreachelse />
没数据
</vt:foreach>


<br /><br />

<h1>直接在模板里判断行奇偶性输出一行多列的数据</h1>
<vt:foreach from="$datalist" item="#.item" index="#.i">
<vt:if var="#.i.iseven" value="false" remark="因为只有奇数行才显示新的行,如1,3行的数据">
<div class="group">
</vt:if>
   <vt:if var="#.i.iseven" value="false">   
   <div class="left">
       <h2>{$:#.item.title}</h2>
       <!--vt[通过调用GetItemData方法, 获取当前行的数据列表]-->
       <vt:function var="itemdata" method="GetItemData" type="$this" args="$#.item" />
       <ul>
            <vt:foreach from="$#.itemdata" item="#.row">
            <li>{$:#.row}</li>
			</vt:foreach>
       </ul>
   </div>
   <vt:else />
   <div class="right">
       <h2>{$:#.item.title}</h2>
       <!--vt[通过调用GetItemData方法, 获取当前行的数据列表]-->
       <vt:function var="itemdata" method="GetItemData" type="$this" args="$#.item" />
       <ul>
            <vt:foreach from="$#.itemdata" item="#.row">
            <li>{$:#.row}</li>
			</vt:foreach>
       </ul>
   </div>
   </vt:if>
<vt:if var="#.i.iseven" value="true" remark="行闭合,所以只有偶数行才输出,如2,4行的数据">
</div>
</vt:if>
</vt:foreach>
</body>
</html>
